
body {
    min-width: 320px;
    background-color: #f7f7f7;
}

header{
    width: 100%;
}

a {
    text-decoration: none;
}

.top{
    width: 100%;
    background-color: #565656;
    color: #fff;
    position: fixed;
    top: 0;
}

.top a {
    color: #fff;
}

.top a:hover {
    color: #0ae;
}

.top span{
    display: block;
    line-height: 2rem;
    text-align: center;

}

.top ul{
    text-align: center;
    line-height: 2rem;
}

.top li{
    display: inline-block;
}

.top a:hover {
    color: #0ae;
}

.main{
    margin-top: 4rem;
    width: 100%;
    background-color: #f6f9f6;
}

.main-img{
    display: block;
    width: 100%;
}

.main-img > img{
    display: block;
    margin: 0 auto;
}

.main ul{
    line-height: 2rem;
    text-align: center;
}

.main li{
    display: inline-block;
}

.main a{
    color: #666;
}

.main a:hover {
    color: #0ae;
}

.transaction{
    width: 100%;
    background-color: #7e7463;
    height: 3rem;
    display: flex;
    color: #ffffff;
}

.trans-data{
    line-height: 3rem;
    margin: 0 auto;
}

.trans-money{
    color: #ff9e1b;
}

.ad{
    width: 100%;
}

.ad-img{
    width: 100%;
}

.feature{
    width: 90%;
    margin: 2rem auto;
}

.feature-item {
    border: rgba(102,103,120,0.3) 1px solid;
    color: #666;
    background: #fff;
    width: 100%;
    margin: .5rem auto;
    padding: .5rem 0 ;
}

.feature span{
    display: block;
    color: #ff9e1b;
    font-size: 1.5rem;
    text-align: center;
}

.feature p{
    text-align: center;
}



.product {
    width: 95%;
    background-color: #fff;
    border: rgba(102,103,120,0.3) 1px solid;
    border-top:  #ff9e1b 2px solid;
    color: #666;
    margin: .5rem auto;
}

.product-left{
    width: 100%;
    background-color: rgba(102, 103, 110, 0.1);
    /*这个垂直居中很吊*/
    display: flex;
    align-items: center;
}

.product-title{
    width: 100%;
}

.product-title p{
    width: 100%;
    padding: .5rem 0;
    text-align: center;
    color: #ff9e1b;
    font-size: 1.5rem;
}

.product-title br{
    display: none;
}

.product-title em{
    display: none;
}



.product-right{
    width: 100%;
}

.product-content{
    width: 100%;
    display: flex;
}

.product-content .item{
    /*要间隔的话,可以加上padding,这样没有副作用*/
    padding-top: .5rem;
    padding-bottom: .5rem;
    /*这样居中也很吊*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 25%;
}

.product-content .item p{
    font-size: .95rem;
}

.product-content .item span{
    color: #ff9e1b;
    font-size: 1.2rem;
}


.product-content .time span{
    font-size: 1.5rem;
}

.product-content .button{
    margin: 0 auto;
    width: 4rem;
    height: 3rem;
    background: #ff9e1b;
    line-height: 3rem;
    color: #ffffff;
    border-radius: .2rem;
}

.content-end{
    margin-top: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    background: #ffffff;
    display: flex;
}

.content-end .item{
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content-end .item li{
    padding-top: .5rem;
}

.content-end .item li a{
    color: #666;
    font-size: .8rem;
}

.content-end .item li a:hover{
    color: #0ae;
}

.li-title{
    font-weight: bolder;
    color: rgba(0,0,0,.6);
    font-size: .95rem;
}