
body {
    min-width: 320px;
    background-color: #f7f7f7;
}

header{
    width: 100%;
}

a {
    text-decoration: none;
}

.top{
    width: 100%;
    background-color: #565656;
    color: #fff;
}

.top a {
    color: #fff;
}

.top a:hover {
    color: #0ae;
}

.top span{
    display: block;
    line-height: 2rem;
    text-align: center;

}

.top ul{
    text-align: center;
    line-height: 2rem;
}

.top li{
    display: inline-block;
}

.top a:hover {
    color: #0ae;
}

.main{
    width: 100%;
    background-color: #f6f9f6;
}

.main-img{
    display: block;
    width: 100%;
}

.main-img > img{
    display: block;
    margin: 0 auto;
}

.main ul{
    line-height: 2rem;
    text-align: center;
}

.main li{
    display: inline-block;
}

.main a{
    color: #666;
}

.main a:hover {
    color: #0ae;
}

.transaction{
    width: 100%;
    background-color: #7e7463;
    height: 3rem;
    display: flex;
    color: #ffffff;
}

.trans-data{
    line-height: 3rem;
    margin: 0 auto;
}

.trans-money{
    color: #ff9e1b;
}

.ad{
    width: 100%;
}

.ad-img{
    width: 100%;
}

.feature{
    width: 90%;
    margin: 2rem auto;
}

.feature-item {
    border: rgba(102,103,120,0.3) 1px solid;
    color: #666;
    background: #fff;
    width: 100%;
    margin: .5rem auto;
}

.feature span{
    display: block;
    color: #ff9e1b;
    font-size: 1.5rem;
    text-align: center;
}

.feature p{
    text-align: center;
}